 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18px));
  min-height: 674px;
  grid-auto-columns: calc(25% - 18px);
  grid-gap: 24px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/7079a45b-5f0d-93a2-5829-ebf88cc2e1fb.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/_16-11-2024_3717_blog.naver.com.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/9819695b-6a83-c2ab-2614-3790f67d32c8.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/d39cfb03-42d3-d49b-8e00-66fe2bd4683e.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 1782px;
    grid-auto-columns: calc(50% - 12px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-calendar-1 {
  --radius: 10px;
  --num-padding-vertical: 15px;
  --num-hover-color: #f2f2f2;
  --num-text-hover-default-color: #111111;
  --num-active-color: #808080;
  --num-text-active-default-color: #ffffff;
  --num-color: #f2f2f2;
  --num-text-default-color: #111111;
  --num-border-active-color: #f2f2f2;
  --num-border-current-color: #f2f2f2;
  --days-padding-vertical: 15px;
  --days-font-size: 14px;
  --days-text-transform: uppercase;
  --year-month-font-size: 24px;
  --year-month-font-weight: 700;
  --year-month-text-color: #4d4d4d;
  --year-month-padding-vertical: 20px;
  --year-month-padding-horizontal: 20px;
  --num-border-style: solid;
  --num-border-color: #f2f2f2;
  --num-border: 3px;
  --num-current-color: #808080;
  --num-text-current-default-color: #ffffff;
  --num-font-weight: 500;
  --num-text-transform: none;
  --num-font-size: 18px;
  --days-text-color: #808080;
  background-image: none;
  --days-letter-spacing: 1px;
  --year-month-bg-color: #e5e5e5;
  --year-month-text-transform: uppercase;
  --num-border-hover-color: #808080;
  --num-border-radius: 100px;
  margin: 0 auto 0 20px;
  padding: 35px 30px;
}

.u-section-2 .u-calendar-time-slot-1 {
  border-style: solid;
  padding: 7px 20px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-table-1 {
  height: 351px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-2 .u-calendar-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-calendar-1 {
    width: 320px;
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-3 {
  min-height: 751px;
}

.u-section-3 .u-map-1 {
  left: auto;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-map-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-calendar-1 {
  --radius: 10px;
  --num-padding-vertical: 15px;
  --num-hover-color: #f2f2f2;
  --num-text-hover-default-color: #111111;
  --num-active-color: #808080;
  --num-text-active-default-color: #ffffff;
  --num-color: #f2f2f2;
  --num-text-default-color: #111111;
  --num-border-active-color: #f2f2f2;
  --num-border-current-color: #f2f2f2;
  --days-padding-vertical: 15px;
  --days-font-size: 14px;
  --days-text-transform: uppercase;
  --year-month-font-size: 24px;
  --year-month-font-weight: 700;
  --year-month-text-color: #4d4d4d;
  --year-month-padding-vertical: 20px;
  --year-month-padding-horizontal: 20px;
  --num-border-style: solid;
  --num-border-color: #f2f2f2;
  --num-border: 3px;
  --num-current-color: #808080;
  --num-text-current-default-color: #ffffff;
  --num-font-weight: 500;
  --num-text-transform: none;
  --num-font-size: 18px;
  --days-text-color: #808080;
  background-image: none;
  --days-letter-spacing: 1px;
  --year-month-bg-color: #e5e5e5;
  --year-month-text-transform: uppercase;
  --num-border-hover-color: #808080;
  --num-border-radius: 100px;
  margin: 0 auto 0 20px;
  padding: 35px 30px;
}

.u-section-4 .u-calendar-time-slot-1 {
  border-style: solid;
  padding: 7px 20px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-table-1 {
  height: 351px;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-4 .u-calendar-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-calendar-1 {
    width: 320px;
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-4 .u-table-1 {
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-5 {
  min-height: 751px;
}

.u-section-5 .u-map-1 {
  left: auto;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-map-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-calendar-1 {
  --radius: 10px;
  --num-padding-vertical: 15px;
  --num-hover-color: #f2f2f2;
  --num-text-hover-default-color: #111111;
  --num-active-color: #808080;
  --num-text-active-default-color: #ffffff;
  --num-color: #f2f2f2;
  --num-text-default-color: #111111;
  --num-border-active-color: #f2f2f2;
  --num-border-current-color: #f2f2f2;
  --days-padding-vertical: 15px;
  --days-font-size: 14px;
  --days-text-transform: uppercase;
  --year-month-font-size: 24px;
  --year-month-font-weight: 700;
  --year-month-text-color: #4d4d4d;
  --year-month-padding-vertical: 20px;
  --year-month-padding-horizontal: 20px;
  --num-border-style: solid;
  --num-border-color: #f2f2f2;
  --num-border: 3px;
  --num-current-color: #808080;
  --num-text-current-default-color: #ffffff;
  --num-font-weight: 500;
  --num-text-transform: none;
  --num-font-size: 18px;
  --days-text-color: #808080;
  background-image: none;
  --days-letter-spacing: 1px;
  --year-month-bg-color: #e5e5e5;
  --year-month-text-transform: uppercase;
  --num-border-hover-color: #808080;
  --num-border-radius: 100px;
  margin: 0 auto 0 20px;
  padding: 35px 30px;
}

.u-section-6 .u-calendar-time-slot-1 {
  border-style: solid;
  padding: 7px 20px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-table-1 {
  height: 351px;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-6 .u-calendar-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-6 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-6 .u-calendar-1 {
    width: 320px;
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-6 .u-table-1 {
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-7 {
  min-height: 751px;
}

.u-section-7 .u-map-1 {
  left: auto;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-map-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-calendar-1 {
  --radius: 10px;
  --num-padding-vertical: 15px;
  --num-hover-color: #f2f2f2;
  --num-text-hover-default-color: #111111;
  --num-active-color: #808080;
  --num-text-active-default-color: #ffffff;
  --num-color: #f2f2f2;
  --num-text-default-color: #111111;
  --num-border-active-color: #f2f2f2;
  --num-border-current-color: #f2f2f2;
  --days-padding-vertical: 15px;
  --days-font-size: 14px;
  --days-text-transform: uppercase;
  --year-month-font-size: 24px;
  --year-month-font-weight: 700;
  --year-month-text-color: #4d4d4d;
  --year-month-padding-vertical: 20px;
  --year-month-padding-horizontal: 20px;
  --num-border-style: solid;
  --num-border-color: #f2f2f2;
  --num-border: 3px;
  --num-current-color: #808080;
  --num-text-current-default-color: #ffffff;
  --num-font-weight: 500;
  --num-text-transform: none;
  --num-font-size: 18px;
  --days-text-color: #808080;
  background-image: none;
  --days-letter-spacing: 1px;
  --year-month-bg-color: #e5e5e5;
  --year-month-text-transform: uppercase;
  --num-border-hover-color: #808080;
  --num-border-radius: 100px;
  margin: 0 auto 0 20px;
  padding: 35px 30px;
}

.u-section-8 .u-calendar-time-slot-1 {
  border-style: solid;
  padding: 7px 20px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-table-1 {
  height: 351px;
  margin: 0 auto 0 20px;
}

.u-section-8 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-8 .u-calendar-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-8 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-8 .u-calendar-1 {
    width: 320px;
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-8 .u-table-1 {
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-9 {
  min-height: 751px;
}

.u-section-9 .u-map-1 {
  left: auto;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-map-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}